$meditech-green	: #006652;
$fresh-mint			: #4BC8B6;
$blueberry			: #003A69;
$key-west				: #0095C3;
$black-coconut	: #3E4545;
$light-gray			: #F5F6F8;
$orange         : #FF823D;
$black          : #000;
$white          : #FFF;

.white{
  color: #fff;
}